.container {
    width: 100%;
    display: flex;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    margin: 20px 0px;
}

.personagem {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

 .barra-de-vida {
    height: 20px;
    width: 90%;
}

 .barra-de-vida div {
    height: 100%;
    width: 100%;
}

.vida-alta {
    background-color: green;
}

.vida-baixa {
    background-color: red;
}

.acoes {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.acoes button {
    margin: 0px 2px;
    border: none;
    background-color: #0056b3; 
    border-radius: 3px;
    color: white;
    padding: 4px;
}

.acoes button:hover {
    background-color: #007BFF;
    cursor: pointer;
}

.resultado {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.vitoria {
    color: green;
}

.derrota {
    color: red;
}

.historico {
    padding: 10px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.historico div {
    border-radius: 2px;
    text-align: center;
    color: white;
    width: 100%;  
    margin: 5px 0px;  
}

.historico-cor-monstro {
    background-color: red;
}

.historico-cor-jogador {
    background-color: #007BFF;
}