<meta charset="UTF-8">
<script src="https://unpkg.com/vue@2"></script>

<div id="app">
    <ul>
        <li v-for="(cor, i) in cores" :teste="cor">{{ i + 1 }}) - {{ cor }}</li>
    </ul>
    <hr>
    <div v-for="(cor, i) in cores">
        <h1>{{ cor }} </h1>
        <p>{{ i }}</p>
    </div>
    <hr>
    <ul>
        <li v-for="pessoa in pessoas">
            <template v-for="(valor, chave, index) in pessoa">
                {{ index + 1 }}) {{ chave }} = {{ valor }}
            </template>
        </li>
    </ul>
    <hr>
    <div v-for="n in 10">{{ n }}</span>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                cores: ['vermelho', 'verde', 'amarelo', 'azul'],
                pessoas: [
                    { nome: 'Ana', idade: 26, peso: 59 },
                    { nome: 'Guilherme', idade: 22, peso: 89 }
                ]
            }
        })
    </script>

    <style>
        ul {
            list-style: none;
        }

        h1,
        p {
            display: inline;
        }
    </style>